<h2>Por País</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
      (onDebounce)="searchByCountry($event)"
      (onValue)="searchByCountry($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por país"> </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Results Table -->
    <hr>
    @if(isLoading){
      <shared-loading-spinner > </shared-loading-spinner>
    }@else{
      <countries-table [countries]="countries"></countries-table>
    }
  </div>
</div>
